.HeaderMenu{
    background-color:transparent !important;
    border: 0px !important;
    box-shadow: none !important;
    color: white !important;
     height: 56px  !important;
}


.mainPageHeader{
    font-size: 14px !important;
    display: flex !important;
    align-items: center !important;
    font-weight: 200 !important;
    color: white !important;
}

.item{
    font-size: 14px !important;
    cursor: pointer !important;
    font-weight: 200 !important;
}

.lms-footer {
    padding-top: 10px;
    position: absolute ;
    bottom: 0;
    width: 100%;
    height: 47px;
}

.backgroundImage{
    position: fixed !important;
    top: -40px !important;
    right: 0px !important;
    height: 240px !important;
    width: 100% !important;
}

.portrait{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.circular{
    width: 80px !important;
    height: 80px !important;
    margin-right: 16px !important;
    border: 4px solid white !important;
}

.sentences{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}



.barMenu span{
    color: black !important;
    font-family: "方正粗黑宋简体" !important;
}

.barMenu .active{
    color: rgb(94, 104, 241) !important;
}

.barMenu span:hover{
    color: black !important;
}

.barMenu div span{
    color: black !important;
    font-family: "方正粗黑宋简体" !important;
}

.barMenu div .active{
    color: rgb(94, 104, 241) !important;
}

.reveal{
    width: 200px;
    height: 112.5px;
    border-radius: 2px;
    cursor: pointer;
}

.photoContent{
    height: 100%;
    border: 1px dashed grey;
    cursor: pointer;
    text-align: center;
}

.text{
    color: black !important
}

.scrolling {
    margin-top:100px !important;
    margin-left: 80px !important;
}

.reveal{
    width: 160px;
    height: 160px;
    margin-right: 16px;
    border: 4px solid orange;
    border-radius: 50%;
    cursor: pointer;
}